body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M351.9719499426132 600.5306385765753L459.8031653833138 581.5170859317925 440.78961273853105 473.6858704910919 332.95839729783046 492.69942313587467z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1082.4711155092616 32.098980268152324L1036.4077074006436 66.81024800993919 1111.5063130676328 118.5497263019725z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1015.8909705784837 290.6255876384818L1020.3067689975777 206.3671344182946 936.0483157773905 201.9513359992006 931.6325173582965 286.2097892193878z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M568.4176035999968 152.65245733681886L421.4687427678566 212.02365096960415 480.83993640064193 358.97251180174436 627.7887972327821 299.6013181689591z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M756.436%2c515.455C802.118%2c516.091%2c840.913%2c486.511%2c864.803%2c447.569C890.025%2c406.455%2c904.642%2c355.13%2c880.352%2c313.459C856.187%2c272.004%2c804.42%2c261.578%2c756.436%2c261.659C708.633%2c261.74%2c656.739%2c272.247%2c633.243%2c313.877C610.019%2c355.026%2c628.534%2c404.304%2c653.173%2c444.621C676.502%2c482.795%2c711.702%2c514.832%2c756.436%2c515.455' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M341.2445113999999 103.55356682659423L420.0484230661606 154.72942543626482 471.22428167583115 75.92551377010415 392.4203700096705 24.749655160433576z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
    
}
h2{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 3px 4px 10px black;


}
textarea{
    margin: 30px 0;
    width: 300px;
    height: 100px;
    box-shadow: 5px 6px 10px black;
    border: none;
}
button{
    background-color: black;
    color: white;
    border: none;
    padding: 15px;
    width: 150px;
    cursor: pointer;
    box-shadow: 5px 5px 10px black;

}